#services {
  background-color: var(--gray-100);
}

#head-services {
  text-align: center;
  padding: 90px;

  sub {
    color: var(--red);
    font: var(--subtitle);
  }

  h3 {
    font: var(--title-md);
    color: var(--gray-600);
    margin-top: 5px;
  }
}